@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%)
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--LightGrayishBlue);
}
main{
    height: 250px;
    width: 660px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.image_wrapper{
    position: relative;
    height:100%;
    flex: 0 0 250px;
    overflow: hidden;
}
.image_wrapper img{
    height: 100%;
}
.review_container{
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}
.review_header{
    font-size: 1.5em;
    font-weight: bolder;
    line-height: 1.4em;
    color: var(--DesaturatedDarkBlue);
}
.review_content{
    font-size: 1em;
    font-weight: 700;
    color: var(--GrayishBlue);
    margin: 15px 0;
}
.review_infor{
    display: flex;
    justify-content:space-between;

}
.review_author{
    display:flex;
}
.author_image{
    height:40px;
    border-radius: 50%;
}
.author_infor{
    margin: 0 0 0 15px ;
}
.author_name{
    margin:0;
    padding:0;
    font-size: 1em;
    font-weight: 700;
    color: var(--DesaturatedDarkBlue);
}
.review_date{
    margin-top:5px;
    padding: 0;
    font-size: 0.9em;
    color: var(--GrayishBlue);
}
.share_button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--LightGrayishBlue);
    padding: 10px 10px;
}
.share_button image{
    height: 10px;
}
@media screen and (max-width: 600px){
    main{
        height: 550px;
        width: 365px;
        display: flex;
  
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
    }
    .image_wrapper{
        flex-grow: 1;
        flex: 0 0 235px;;
        width:100%;
    }
    .image_wrapper img{
        height: auto;
        width:100%;
        fill: white;
        
    }
    .review_container{
        flex-grow: 1;
    }
    .review_infor{
        margin-top: 15px;
    }
}   